{% extends 'blog/base.html' %}
{% block content %}
<div class="row" ng-controller="fifaController" style="margin:10px;margin-top:0px;">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#map_tab">Map</a></li>
            <li><a data-toggle="tab" href="#hc_tab">HighCharts</a></li>
            <li><a data-toggle="tab" href="#ds_tab">Dataframe DataTable</a></li>
        </ul>
        <div class="tab-content">
            <div id="map_tab" class="tab-pane fade in active">
                <center>
                    <div id="map" style="width: 600px; height: 600px;margin-top:2%;"></div>
                </center>
            </div>
            <div id="ds_tab" class="tab-pane fade">
                <center>
                    <div id=testDiv style="margin-top:2%">
                    </div>
                    <hr>
                    <hr>
                    <table id="dt_test" class="table table-bordered table-hover nowrap">

                        <thead class="flip-content check">
                            <tr>
                                <th> Name</th>
                                <th> Email</th>
                                <th> Phone</th>
                                <th> Region</th>
                            </tr>
                        </thead>
                        <tbody>


                        </tbody>
                    </table>
                </center>
            </div>
            <div id="hc_tab" class="tab-pane fade">
                <center>
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </center>
            </div>
        </div>
    </div>
    <!-- <center>
        <div id="map" style="width: 600px; height: 600px;"></div>
    </center> -->
    <!-- <center>
        <div id=testDiv style="margin-top:20%">

        </div>
        <hr>
        <hr>
        <table id="dt_test" class="table table-bordered table-hover nowrap">

            <thead class="flip-content check">
                <tr>
                    <th> Name</th>
                    <th> Email</th>
                    <th> Phone</th>
                    <th> Region</th>
                </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
    </center> -->
</div>
<style>
    .itag {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }

    /* #map {
            width: 780px;
            height: 650px;
            margin-left: -20px;
        } */

    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    /* .info h4 {
            margin: 0 0 5px;
            color: #777;
        } */

    .legend {
        text-align: left;
        line-height: 18px;
        color: #555;
    }

    /* .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 1;
        } */
</style>
<!--MY Code S-->
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Snow depth at Vikjafjellet, Norway'
        },
        subtitle: {
            text: 'Irregular time data in Highcharts JS'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Snow depth (m)'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
        },

        plotOptions: {
            series: {
                marker: {
                    enabled: true
                }
            }
        },

        colors: ['blue', 'green', 'red'],
        //colors: ['#6CF', '#39F', '#06C', '#036', '#000'],

        // Define the data points. All series have a dummy year
        // of 1970/71 in order to be compared on the same x axis. Note
        // that in JavaScript, months start at 0 for January, 1 for February etc.
        series: [{
            name: "Winter 2014-2015",
            data: [
                [Date.UTC(1970, 10, 25), 0],
                [Date.UTC(1970, 11, 6), 0.25],
                [Date.UTC(1970, 11, 20), 1.41],
                [Date.UTC(1970, 11, 25), 1.64],
                [Date.UTC(1971, 0, 4), 1.6],
                [Date.UTC(1971, 0, 17), 2.55],
                [Date.UTC(1971, 0, 24), 2.62],
                [Date.UTC(1971, 1, 4), 2.5],
                [Date.UTC(1971, 1, 14), 2.42],
                [Date.UTC(1971, 2, 6), 2.74],
                [Date.UTC(1971, 2, 14), 2.62],
                [Date.UTC(1971, 2, 24), 2.6],
                [Date.UTC(1971, 3, 1), 2.81],
                [Date.UTC(1971, 3, 11), 2.63],
                [Date.UTC(1971, 3, 27), 2.77],
                [Date.UTC(1971, 4, 4), 2.68],
                [Date.UTC(1971, 4, 9), 2.56],
                [Date.UTC(1971, 4, 14), 2.39],
                [Date.UTC(1971, 4, 19), 2.3],
                [Date.UTC(1971, 5, 4), 2],
                [Date.UTC(1971, 5, 9), 1.85],
                [Date.UTC(1971, 5, 14), 1.49],
                [Date.UTC(1971, 5, 19), 1.27],
                [Date.UTC(1971, 5, 24), 0.99],
                [Date.UTC(1971, 5, 29), 0.67],
                [Date.UTC(1971, 6, 3), 0.18],
                [Date.UTC(1971, 6, 4), 0]
            ]
        }, {
            name: "Winter 2015-2016",
            data: [
                [Date.UTC(1970, 10, 9), 0],
                [Date.UTC(1970, 10, 15), 0.23],
                [Date.UTC(1970, 10, 20), 0.25],
                [Date.UTC(1970, 10, 25), 0.23],
                [Date.UTC(1970, 10, 30), 0.39],
                [Date.UTC(1970, 11, 5), 0.41],
                [Date.UTC(1970, 11, 10), 0.59],
                [Date.UTC(1970, 11, 15), 0.73],
                [Date.UTC(1970, 11, 20), 0.41],
                [Date.UTC(1970, 11, 25), 1.07],
                [Date.UTC(1970, 11, 30), 0.88],
                [Date.UTC(1971, 0, 5), 0.85],
                [Date.UTC(1971, 0, 11), 0.89],
                [Date.UTC(1971, 0, 17), 1.04],
                [Date.UTC(1971, 0, 20), 1.02],
                [Date.UTC(1971, 0, 25), 1.03],
                [Date.UTC(1971, 0, 30), 1.39],
                [Date.UTC(1971, 1, 5), 1.77],
                [Date.UTC(1971, 1, 26), 2.12],
                [Date.UTC(1971, 3, 19), 2.1],
                [Date.UTC(1971, 4, 9), 1.7],
                [Date.UTC(1971, 4, 29), 0.85],
                [Date.UTC(1971, 5, 7), 0]
            ]
        }, {
            name: "Winter 2016-2017",
            data: [
                [Date.UTC(1970, 9, 15), 0],
                [Date.UTC(1970, 9, 31), 0.09],
                [Date.UTC(1970, 10, 7), 0.17],
                [Date.UTC(1970, 10, 10), 0.1],
                [Date.UTC(1970, 11, 10), 0.1],
                [Date.UTC(1970, 11, 13), 0.1],
                [Date.UTC(1970, 11, 16), 0.11],
                [Date.UTC(1970, 11, 19), 0.11],
                [Date.UTC(1970, 11, 22), 0.08],
                [Date.UTC(1970, 11, 25), 0.23],
                [Date.UTC(1970, 11, 28), 0.37],
                [Date.UTC(1971, 0, 16), 0.68],
                [Date.UTC(1971, 0, 19), 0.55],
                [Date.UTC(1971, 0, 22), 0.4],
                [Date.UTC(1971, 0, 25), 0.4],
                [Date.UTC(1971, 0, 28), 0.37],
                [Date.UTC(1971, 0, 31), 0.43],
                [Date.UTC(1971, 1, 4), 0.42],
                [Date.UTC(1971, 1, 7), 0.39],
                [Date.UTC(1971, 1, 10), 0.39],
                [Date.UTC(1971, 1, 13), 0.39],
                [Date.UTC(1971, 1, 16), 0.39],
                [Date.UTC(1971, 1, 19), 0.35],
                [Date.UTC(1971, 1, 22), 0.45],
                [Date.UTC(1971, 1, 25), 0.62],
                [Date.UTC(1971, 1, 28), 0.68],
                [Date.UTC(1971, 2, 4), 0.68],
                [Date.UTC(1971, 2, 7), 0.65],
                [Date.UTC(1971, 2, 10), 0.65],
                [Date.UTC(1971, 2, 13), 0.75],
                [Date.UTC(1971, 2, 16), 0.86],
                [Date.UTC(1971, 2, 19), 1.14],
                [Date.UTC(1971, 2, 22), 1.2],
                [Date.UTC(1971, 2, 25), 1.27],
                [Date.UTC(1971, 2, 27), 1.12],
                [Date.UTC(1971, 2, 30), 0.98],
                [Date.UTC(1971, 3, 3), 0.85],
                [Date.UTC(1971, 3, 6), 1.04],
                [Date.UTC(1971, 3, 9), 0.92],
                [Date.UTC(1971, 3, 12), 0.96],
                [Date.UTC(1971, 3, 15), 0.94],
                [Date.UTC(1971, 3, 18), 0.99],
                [Date.UTC(1971, 3, 21), 0.96],
                [Date.UTC(1971, 3, 24), 1.15],
                [Date.UTC(1971, 3, 27), 1.18],
                [Date.UTC(1971, 3, 30), 1.12],
                [Date.UTC(1971, 4, 3), 1.06],
                [Date.UTC(1971, 4, 6), 0.96],
                [Date.UTC(1971, 4, 9), 0.87],
                [Date.UTC(1971, 4, 12), 0.88],
                [Date.UTC(1971, 4, 15), 0.79],
                [Date.UTC(1971, 4, 18), 0.54],
                [Date.UTC(1971, 4, 21), 0.34],
                [Date.UTC(1971, 4, 25), 0]
            ]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    plotOptions: {
                        series: {
                            marker: {
                                radius: 2.5
                            }
                        }
                    }
                }
            }]
        }
    });
</script>
<script src="/static/BGD_adm3.js"> </script>
<script>
    let upazila_count = [];
    var countList = [];
    for (let i = 0; i < json_upazilla.features.length; i++) {
        let randomnumber = Math.floor(Math.random() * (1700 - 0 + 1)) + 0;
        if (json_upazilla.features[i].properties.ID_3 >= 282 && json_upazilla.features[i].properties.ID_3 <= 285) {
            randomnumber = 0
        }
        let data = {
            region: json_upazilla.features[i].properties.ID_3,
            value: randomnumber
        }
        countList.push(randomnumber)
        upazila_count.push(data);
    }
    console.log(upazila_count);
    const getDcount = (x) => {
        for (let i = 0; upazila_count.length; i++) {
            if (upazila_count[i].region == x) {
                return upazila_count[i].value
            }
        }
        return 'nan'
    }
    var min = Math.min.apply(null, countList)
    var max = Math.max.apply(null, countList)
    var diff = max - min;
    var rem = Math.ceil(diff / 10);
    //if(min != 0) min = min-1;
    let new_min = min
    let range = [];
    for (let i = 0; i < 10; i++) {
        if (new_min + rem > max) range.push({ range_str: (new_min + 1) + '-' + max, min: new_min + 1, max: max })
        else {
            if (min != 0 && i == 0) range.push({ range_str: (new_min) + '-' + (new_min + rem), min: new_min, max: new_min + rem })
            else range.push({ range_str: (new_min + 1) + '-' + (new_min + rem), min: new_min + 1, max: new_min + rem })
        }
        new_min = new_min + rem
    }
    console.log(range)
    console.log(min)
    console.log(max)
    console.log(rem)
    var map = L.map('map').setView([23.946096, 90.128173], 7);
    L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
        key: 'BC9A493B41014CAABB98F0471D759707',
        styleId: 22677
    }).addTo(map);
    // control that shows state info on hover
    var info = L.control();
    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };
    info.update = function (props) {
        this._div.innerHTML = '<h3>Sample Distribution</h3>' + (props ?
            '<br /><b>' + 'Division -- ' + props.NAME_1 + ' </b> ' +
            '<br /><b>' + 'District -- ' + props.NAME_2 + ' </b> ' +
            '<br /><b>' + 'Upazila -- ' + props.NAME_3 + ' </b> ' +
            '<br /><b>' + 'Count -- ' + getDcount(props.ID_3) + ' </b> '
            : 'Hover over a Upazila');
    };
    info.addTo(map);
    function style(feature) {
        return {
            weight: 1,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7,
            fillColor: getColor(feature.properties.ID_3)
            //fillColor: getColor(feature.properties.NAME_3)
        };
    }
    var green_to_red = [
        { key: 10, background: '#D6EAFE' },
        { key: 20, background: '#C2E0FE' },
        { key: 30, background: '#AED6FE' },
        { key: 40, background: '#9ACCFE' },
        { key: 50, background: '#85C1FD' },
        { key: 60, background: '#71B7FD' },
        { key: 70, background: '#5DADFD' },
        { key: 80, background: '#49A3FD' },
        { key: 90, background: '#3599FD' },
        { key: 100, background: '#208FFD' }
    ]
    // var green_to_red = [
    //     //{ key: 0, background: '#2d6063' },
    //     { key: 10, background: 'green' },
    //     { key: 20, background: '#91ff00' },
    //     { key: 30, background: '#aaff00' },
    //     { key: 40, background: '#d4ff00' },
    //     { key: 50, background: '#ffc400' },
    //     { key: 60, background: '#ffa200' },
    //     { key: 70, background: '#ff8400' },
    //     { key: 80, background: '#ff5e00' },
    //     { key: 90, background: 'red' },
    //     { key: 100, background: '#c91b00' }
    // ]
    const gc = (pt) => {
        for (i = 0; i < green_to_red.length; i++) {
            if (green_to_red[i].key == pt) {
                return green_to_red[i].background
            }
        }
    }
    function getColor(s_id_3) {
        let s = getDcount(s_id_3)
        if (s == 0) return '#EAF4FE'
        else {
            if (s >= range[0].min && s <= range[0].max) return gc(10)
            else if (s >= range[1].min && s <= range[1].max) return gc(20)
            else if (s >= range[2].min && s <= range[2].max) return gc(30)
            else if (s >= range[3].min && s <= range[3].max) return gc(40)
            else if (s >= range[4].min && s <= range[4].max) return gc(50)
            else if (s >= range[5].min && s <= range[5].max) return gc(60)
            else if (s >= range[6].min && s <= range[6].max) return gc(70)
            else if (s >= range[7].min && s <= range[7].max) return gc(80)
            else if (s >= range[8].min && s <= range[8].max) return gc(90)
            else if (s >= range[9].min && s <= range[9].max) return gc(100)
        }
    }
    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }
    function highlightFeature(e) {
        var layer = e.target;
        layer.setStyle({
            weight: 1,
            color: '#000000',
            dashArray: '',
            fillOpacity: 0.7,
        });
        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }
        info.update(layer.feature.properties);
    }
    var geojson;
    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }
    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }
    geojson = L.geoJSON(json_upazilla, {
        style: style,
        onEachFeature: onEachFeature
    }).addTo(map);
    var legend = L.control({ position: 'bottomleft' });
    legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'info legend')
        var labels = [];
        labels.push(
            '<i class="itag" style="background:#EAF4FE"></i> ' +
            0 + '</br>');
        for (var i = 0; i < range.length; i++) {
            labels.push(
                '<i class="itag" style="background:' + green_to_red[i].background + '"></i> ' +
                range[i].range_str + '</br>');
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };
    legend.addTo(map);
    // var ll = 23.83644294738781
    // var lg = 88.86476898193371
    var ll = 23.8907
    var lg = 89.1099
    // setInterval(function () {
    //     map.setZoom(7);
    //     setTimeout(function () {
    //         //var marker = L.marker([23.8907, 89.1099], {}).addTo(map);
    //         //map.flyTo([23.8907, 89.1099], 11);
    //         var marker = L.marker([ll, lg], {}).addTo(map);
    //         map.flyTo([ll,lg], 10);

    //     }, 1000);
    // }, 5000)
    setTimeout(function () {
        var marker = L.marker([ll, lg], {}).addTo(map);
        map.flyTo([ll, lg], 10.5);
    }, 1000);
</script>
<!-- <script>

    var map = L.map('map').setView([23.946096, 90.128173], 7);

    L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
        key: 'BC9A493B41014CAABB98F0471D759707',
        styleId: 22677
    }).addTo(map);

    // control that shows state info on hover
    var info = L.control();

    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info.update = function (props) {
        this._div.innerHTML = '<h3>Sample Distribution</h3>' + (props ?
            '<br /><b>' + 'Division -> ' + props.NAME_1 + ' </b> ' +
            '<br /><b>' + 'District -> ' + props.NAME_2 + ' </b> ' +
            '<br /><b>' + 'Upazila -> ' + props.NAME_3 + ' </b> '
            : 'Hover over a Upazila');
    };

    info.addTo(map);

    function style(feature) {
        return {
            weight: 1,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7,
            fillColor: getColor(feature.properties.ID_3)
            //fillColor: getColor(feature.properties.NAME_3)
        };
    }
    function getColor(s) {
        if (s == 286) return 'black'
        else if (s == 282) return '#bf3f54'
        else if (s == 283) return '#b34fdf'
        else if (s == 284) return '#cf3f5e'
        else if (s == 285) return '#ef3a54'
        else if (s == 286) return '#ff3f54'
        else if (s == 287) return '#fa3faa'
        else return '#167008'
        // if(s=='Kushtia S.') return 'black'
        // else if(s=='Mirpur') return '#bf3f54'
        // else if(s=='Bheramara') return '#bfffdf'
        // else if(s=='Khoksa') return '#cf3f5e'
        // else if(s=='Kumarkhali') return '#ef3a54'
        // else return '#167008'
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }
    function highlightFeature(e) {
        var layer = e.target;
        layer.setStyle({
            weight: 1,
            color: '#000000',
            dashArray: '',
            fillOpacity: 0.7,
        });
        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }
        info.update(layer.feature.properties);
    }
    var geojson;
    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }
    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }
    geojson = L.geoJSON(json_upazilla, {
        style: style,
        onEachFeature: onEachFeature
    }).addTo(map);
    // var ll = 23.83644294738781
    // var lg = 88.86476898193371
    var ll = 23.8907
    var lg = 89.1099
    // setInterval(function () {
    //     map.setZoom(7);
    //     setTimeout(function () {
    //         //var marker = L.marker([23.8907, 89.1099], {}).addTo(map);
    //         //map.flyTo([23.8907, 89.1099], 11);
    //         var marker = L.marker([ll, lg], {}).addTo(map);
    //         map.flyTo([ll,lg], 10);

    //     }, 1000);
    // }, 5000)
    setTimeout(function () {
        var marker = L.marker([ll, lg], {}).addTo(map);
        map.flyTo([ll, lg], 10.5);
    }, 500);

</script> -->
<script>
    function Person(name, age, position) {
        this._name = name;
        this._age = age;
        this._position = position;

        this.name = function () {
            return this._name;
        };

        this.age = function () {
            return this._age;
        };

        this.position = function () {
            return this._position;
        };
    }
    $(document).ready(function () {
        //

        $.ajax({
            url: '/test/',
            dataType: 'html',
            success: function (response) {
                $('#testDiv').html(response);
                $('#T_my_id').DataTable({
                    "fixedHeader": {
                        header: true,
                    },
                });
            }
        });
        $('#dt_test').DataTable(
            {
                "fixedHeader": {
                        header: true,
                    },
                "retrieve": true,
                "processing": true,
                "serverSide": true,
                "bFilter": false,
                "ajax": {
                    "url": "/pagination/",
                    "type": "POST",
                    "data": function (d) { }

                }
            }
        )

        //
        var table = $('#example').DataTable({
            "paging": true, //add pagination
            //"ordering": true,// orders data
            "order": [[3, 'asc'], [5, 'desc']], // sort on specif column / columns
            //here data is sorted based on column  in desc/asc order index start from 0 
            "info": true,//shows -- Showing 1 to 10 of N entries--
            // columns: [
            //     { data: null, render: 'name' },
            //     { data: null, render: 'age' },
            //     { data: null, render: 'position' }
            // ]
            data: dataSet, //loading using js
            columns: [
                { title: "Name" },
                { title: "Position" },
                { title: "Office" },
                { title: "Extn." },
                { title: "Start date" },
                { title: "Salary" }
            ],
            //for serverside processing
            //"processing": true,
            //"serverSide": true,
            //"ajax": "../server_side/scripts/server_processing.php"

            //
        });

        //for ajax json---- df.tojson kore pathai dibo
        /*$('#example').dataTable({
            "ajax": {
                "url": "data.json",
                "dataSrc": function (json) {
                    for (var i = 0, ien = json.data.length; i < ien; i++) {
                        json.data[i][0] = '<a href="/message/' + json.data[i][0] + '>View message</a>';
                    }
                    return json.data;
                }
            }
        });
        // //--

        ajax: {
            url: "/api_endpoint/",
                dataSrc: "data"
        }, */

        //

        // table.row.add(new Person('adssaAiri Satou', 33, 'xAccountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Addsshton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('vAisri Satou', 33, 'aAaaacaacountant'));
        // table.row.add(new Person('Angvelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Avshton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('cAiri Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Acshton Cox', 646, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 447, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.draw();
    });
    app.controller("fifaController", function ($scope, NgTableParams) {
        $scope.vms = this;
        var vms = this;
        vms.model = {};
        $scope.test = "Asif Isthiaq AJS"
        vms.model.msg = 'FIFA'
    });

    var dataSet = [
        ["Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011/04/25", "$320,800"],
        ["Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750"],
        ["Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009/01/12", "$86,000"],
        ["Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012/03/29", "$433,060"],
        ["Airi Satou", "Accountant", "Tokyo", "5407", "2008/11/28", "$162,700"],
        ["Brielle Williamson", "Integration Specialist", "New York", "4804", "2012/12/02", "$372,000"],
        ["Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "2012/08/06", "$137,500"],
        ["Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "2010/10/14", "$327,900"],
        ["Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "2009/09/15", "$205,500"],
        ["Sonya Frost", "Software Engineer", "Edinburgh", "1667", "2008/12/13", "$103,600"],
        ["Jena Gaines", "Office Manager", "London", "3814", "2008/12/19", "$90,560"],
        ["Quinn Flynn", "Support Lead", "Edinburgh", "9497", "2013/03/03", "$342,000"],
        ["Charde Marshall", "Regional Director", "San Francisco", "6741", "2008/10/16", "$470,600"],
        ["Haley Kennedy", "Senior Marketing Designer", "London", "3597", "2012/12/18", "$313,500"],
        ["Tatyana Fitzpatrick", "Regional Director", "London", "1965", "2010/03/17", "$385,750"],
        ["Michael Silva", "Marketing Designer", "London", "1581", "2012/11/27", "$198,500"],
        ["Paul Byrd", "Chief Financial Officer (CFO)", "New York", "3059", "2010/06/09", "$725,000"],
        ["Gloria Little", "Systems Administrator", "New York", "1721", "2009/04/10", "$237,500"],
        ["Bradley Greer", "Software Engineer", "London", "2558", "2012/10/13", "$132,000"],
        ["Dai Rios", "Personnel Lead", "Edinburgh", "2290", "2012/09/26", "$217,500"],
        ["Jenette Caldwell", "Development Lead", "New York", "1937", "2011/09/03", "$345,000"],
        ["Yuri Berry", "Chief Marketing Officer (CMO)", "New York", "6154", "2009/06/25", "$675,000"],
        ["Caesar Vance", "Pre-Sales Support", "New York", "8330", "2011/12/12", "$106,450"],
        ["Doris Wilder", "Sales Assistant", "Sydney", "3023", "2010/09/20", "$85,600"],
        ["Angelica Ramos", "Chief Executive Officer (CEO)", "London", "5797", "2009/10/09", "$1,200,000"],
        ["Gavin Joyce", "Developer", "Edinburgh", "8822", "2010/12/22", "$92,575"],
        ["Jennifer Chang", "Regional Director", "Singapore", "9239", "2010/11/14", "$357,650"],
        ["Brenden Wagner", "Software Engineer", "San Francisco", "1314", "2011/06/07", "$206,850"],
        ["Fiona Green", "Chief Operating Officer (COO)", "San Francisco", "2947", "2010/03/11", "$850,000"],
        ["Shou Itou", "Regional Marketing", "Tokyo", "8899", "2011/08/14", "$163,000"],
        ["Michelle House", "Integration Specialist", "Sydney", "2769", "2011/06/02", "$95,400"],
        ["Suki Burks", "Developer", "London", "6832", "2009/10/22", "$114,500"],
        ["Prescott Bartlett", "Technical Author", "London", "3606", "2011/05/07", "$145,000"],
        ["Gavin Cortez", "Team Leader", "San Francisco", "2860", "2008/10/26", "$235,500"],
        ["Martena Mccray", "Post-Sales support", "Edinburgh", "8240", "2011/03/09", "$324,050"],
        ["Unity Butler", "Marketing Designer", "San Francisco", "5384", "2009/12/09", "$85,675"]
    ];
</script>


{% endblock content %}