{% extends 'blog/base.html' %}
{% block content %}
<div class="row" ng-controller="fifaController" style="margin:10px;margin-top:0px">
    <center>
        <div id="map" style="width: 600px; height: 600px;"></div>
    </center>
    <!-- <center>
        <div id=testDiv style="margin-top:20%">

        </div>
        <hr>
        <hr>
        <table id="dt_test" class="table table-bordered table-hover nowrap">

            <thead class="flip-content check">
                <tr>
                    <th> Name</th>
                    <th> Email</th>
                    <th> Phone</th>
                    <th> Region</th>
                </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
    </center> -->
</div>
<script src="/static/BGD_adm3.js"> </script>
<script>
    var map = L.map('map').setView([23.946096, 90.128173], 7);

    L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
        key: 'BC9A493B41014CAABB98F0471D759707',
        styleId: 22677
    }).addTo(map);
    var geojsonFeature = {
        "type": "Feature",
        "properties": {
            "name": "Coors Field",
            "amenity": "Baseball Stadium",
            "popupContent": "This is where the Rockies play!"
        },
        "geometry": {
            "type": "Point",
            "coordinates": [-104.99404, 39.75621]
        }
    };
    L.geoJSON(json_upazilla).addTo(map);
</script>
<script>
    function Person(name, age, position) {
        this._name = name;
        this._age = age;
        this._position = position;

        this.name = function () {
            return this._name;
        };

        this.age = function () {
            return this._age;
        };

        this.position = function () {
            return this._position;
        };
    }
    $(document).ready(function () {
        //
        $.ajax({
            url: '/test/',
            dataType: 'html',
            success: function (response) {
                $('#testDiv').html(response);
                $('#T_my_id').DataTable();
            }
        });
        $('#dt_test').DataTable(
            {
                "retrieve": true,
                "processing": true,
                "serverSide": true,
                "bFilter": false,
                "ajax": {
                    "url": "/pagination/",
                    "type": "POST",
                    "data": function (d) { }

                }
            }
        )

        //
        var table = $('#example').DataTable({
            "paging": true, //add pagination
            //"ordering": true,// orders data
            "order": [[3, 'asc'], [5, 'desc']], // sort on specif column / columns
            //here data is sorted based on column  in desc/asc order index start from 0 
            "info": true,//shows -- Showing 1 to 10 of N entries--
            // columns: [
            //     { data: null, render: 'name' },
            //     { data: null, render: 'age' },
            //     { data: null, render: 'position' }
            // ]
            data: dataSet, //loading using js
            columns: [
                { title: "Name" },
                { title: "Position" },
                { title: "Office" },
                { title: "Extn." },
                { title: "Start date" },
                { title: "Salary" }
            ],
            //for serverside processing
            //"processing": true,
            //"serverSide": true,
            //"ajax": "../server_side/scripts/server_processing.php"

            //
        });

        //for ajax json---- df.tojson kore pathai dibo
        /*$('#example').dataTable({
            "ajax": {
                "url": "data.json",
                "dataSrc": function (json) {
                    for (var i = 0, ien = json.data.length; i < ien; i++) {
                        json.data[i][0] = '<a href="/message/' + json.data[i][0] + '>View message</a>';
                    }
                    return json.data;
                }
            }
        });
        // //--

        ajax: {
            url: "/api_endpoint/",
                dataSrc: "data"
        }, */

        //

        // table.row.add(new Person('adssaAiri Satou', 33, 'xAccountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Addsshton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('vAisri Satou', 33, 'aAaaacaacountant'));
        // table.row.add(new Person('Angvelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Avshton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('cAiri Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Acshton Cox', 646, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 447, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.draw();
    });
    app.controller("fifaController", function ($scope, NgTableParams) {
        $scope.vms = this;
        var vms = this;
        vms.model = {};
        $scope.test = "Asif Isthiaq AJS"
        vms.model.msg = 'FIFA'
    });

</script>


{% endblock content %}