{% extends 'blog/base.html' %}
{% block content %}
<div class="row" ng-controller="fifaController" style="margin:10px;margin-top:0px;">
    <center>
        <div id="map" style="width: 600px; height: 600px;"></div>
    </center>
    <!-- <center>
        <div id=testDiv style="margin-top:20%">

        </div>
        <hr>
        <hr>
        <table id="dt_test" class="table table-bordered table-hover nowrap">

            <thead class="flip-content check">
                <tr>
                    <th> Name</th>
                    <th> Email</th>
                    <th> Phone</th>
                    <th> Region</th>
                </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
    </center> -->
</div>
<script src="/static/BGD_adm3.js"> </script>
<script>
    
    var map = L.map('map').setView([23.946096, 90.128173], 7);

    L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
        key: 'BC9A493B41014CAABB98F0471D759707',
        styleId: 22677
    }).addTo(map);

    function style(feature) {
        return {
            weight: 1,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7,
            fillColor: '#9accfe'
        };
    }
    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }
    function highlightFeature(e) {
        var layer = e.target;
        layer.setStyle({
            weight: 1,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7,
        });
        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToFront();
        }
        //info.update(layer.feature.properties);
    }
    var geojson;
    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        //info.update();
    }
    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }
    geojson = L.geoJSON(json_upazilla, {
        style: style,
        onEachFeature: onEachFeature
    }).addTo(map);

</script>
<script>
    function Person(name, age, position) {
        this._name = name;
        this._age = age;
        this._position = position;

        this.name = function () {
            return this._name;
        };

        this.age = function () {
            return this._age;
        };

        this.position = function () {
            return this._position;
        };
    }
    $(document).ready(function () {
        //
        $.ajax({
            url: '/test/',
            dataType: 'html',
            success: function (response) {
                $('#testDiv').html(response);
                $('#T_my_id').DataTable();
            }
        });
        $('#dt_test').DataTable(
            {
                "retrieve": true,
                "processing": true,
                "serverSide": true,
                "bFilter": false,
                "ajax": {
                    "url": "/pagination/",
                    "type": "POST",
                    "data": function (d) { }

                }
            }
        )

        //
        var table = $('#example').DataTable({
            "paging": true, //add pagination
            //"ordering": true,// orders data
            "order": [[3, 'asc'], [5, 'desc']], // sort on specif column / columns
            //here data is sorted based on column  in desc/asc order index start from 0 
            "info": true,//shows -- Showing 1 to 10 of N entries--
            // columns: [
            //     { data: null, render: 'name' },
            //     { data: null, render: 'age' },
            //     { data: null, render: 'position' }
            // ]
            data: dataSet, //loading using js
            columns: [
                { title: "Name" },
                { title: "Position" },
                { title: "Office" },
                { title: "Extn." },
                { title: "Start date" },
                { title: "Salary" }
            ],
            //for serverside processing
            //"processing": true,
            //"serverSide": true,
            //"ajax": "../server_side/scripts/server_processing.php"

            //
        });

        //for ajax json---- df.tojson kore pathai dibo
        /*$('#example').dataTable({
            "ajax": {
                "url": "data.json",
                "dataSrc": function (json) {
                    for (var i = 0, ien = json.data.length; i < ien; i++) {
                        json.data[i][0] = '<a href="/message/' + json.data[i][0] + '>View message</a>';
                    }
                    return json.data;
                }
            }
        });
        // //--

        ajax: {
            url: "/api_endpoint/",
                dataSrc: "data"
        }, */

        //

        // table.row.add(new Person('adssaAiri Satou', 33, 'xAccountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Addsshton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('vAisri Satou', 33, 'aAaaacaacountant'));
        // table.row.add(new Person('Angvelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Avshton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('cAiri Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Acshton Cox', 646, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 447, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.row.add(new Person('Airi Satou', 33, 'Accountant'));
        // table.row.add(new Person('Angelica Ramos', 47, 'Chief Executive Officer (CEO)'));
        // table.row.add(new Person('Ashton Cox', 66, 'Junior Technical Author'));
        // table.draw();
    });
    app.controller("fifaController", function ($scope, NgTableParams) {
        $scope.vms = this;
        var vms = this;
        vms.model = {};
        $scope.test = "Asif Isthiaq AJS"
        vms.model.msg = 'FIFA'
    });

    var dataSet = [
        ["Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011/04/25", "$320,800"],
        ["Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750"],
        ["Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009/01/12", "$86,000"],
        ["Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012/03/29", "$433,060"],
        ["Airi Satou", "Accountant", "Tokyo", "5407", "2008/11/28", "$162,700"],
        ["Brielle Williamson", "Integration Specialist", "New York", "4804", "2012/12/02", "$372,000"],
        ["Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "2012/08/06", "$137,500"],
        ["Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "2010/10/14", "$327,900"],
        ["Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "2009/09/15", "$205,500"],
        ["Sonya Frost", "Software Engineer", "Edinburgh", "1667", "2008/12/13", "$103,600"],
        ["Jena Gaines", "Office Manager", "London", "3814", "2008/12/19", "$90,560"],
        ["Quinn Flynn", "Support Lead", "Edinburgh", "9497", "2013/03/03", "$342,000"],
        ["Charde Marshall", "Regional Director", "San Francisco", "6741", "2008/10/16", "$470,600"],
        ["Haley Kennedy", "Senior Marketing Designer", "London", "3597", "2012/12/18", "$313,500"],
        ["Tatyana Fitzpatrick", "Regional Director", "London", "1965", "2010/03/17", "$385,750"],
        ["Michael Silva", "Marketing Designer", "London", "1581", "2012/11/27", "$198,500"],
        ["Paul Byrd", "Chief Financial Officer (CFO)", "New York", "3059", "2010/06/09", "$725,000"],
        ["Gloria Little", "Systems Administrator", "New York", "1721", "2009/04/10", "$237,500"],
        ["Bradley Greer", "Software Engineer", "London", "2558", "2012/10/13", "$132,000"],
        ["Dai Rios", "Personnel Lead", "Edinburgh", "2290", "2012/09/26", "$217,500"],
        ["Jenette Caldwell", "Development Lead", "New York", "1937", "2011/09/03", "$345,000"],
        ["Yuri Berry", "Chief Marketing Officer (CMO)", "New York", "6154", "2009/06/25", "$675,000"],
        ["Caesar Vance", "Pre-Sales Support", "New York", "8330", "2011/12/12", "$106,450"],
        ["Doris Wilder", "Sales Assistant", "Sydney", "3023", "2010/09/20", "$85,600"],
        ["Angelica Ramos", "Chief Executive Officer (CEO)", "London", "5797", "2009/10/09", "$1,200,000"],
        ["Gavin Joyce", "Developer", "Edinburgh", "8822", "2010/12/22", "$92,575"],
        ["Jennifer Chang", "Regional Director", "Singapore", "9239", "2010/11/14", "$357,650"],
        ["Brenden Wagner", "Software Engineer", "San Francisco", "1314", "2011/06/07", "$206,850"],
        ["Fiona Green", "Chief Operating Officer (COO)", "San Francisco", "2947", "2010/03/11", "$850,000"],
        ["Shou Itou", "Regional Marketing", "Tokyo", "8899", "2011/08/14", "$163,000"],
        ["Michelle House", "Integration Specialist", "Sydney", "2769", "2011/06/02", "$95,400"],
        ["Suki Burks", "Developer", "London", "6832", "2009/10/22", "$114,500"],
        ["Prescott Bartlett", "Technical Author", "London", "3606", "2011/05/07", "$145,000"],
        ["Gavin Cortez", "Team Leader", "San Francisco", "2860", "2008/10/26", "$235,500"],
        ["Martena Mccray", "Post-Sales support", "Edinburgh", "8240", "2011/03/09", "$324,050"],
        ["Unity Butler", "Marketing Designer", "San Francisco", "5384", "2009/12/09", "$85,675"]
    ];
</script>
{% endblock content %}